In [1]:
import FinanceDataReader as fdr
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [3]:
krx = fdr.StockListing('KRX')

In [24]:
stocks = krx[krx['Name'].isin(['삼성전자', 'SK하이닉스', '현대차', 'NAVER'])]
stocks

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1481,035420,KOSPI,NAVER,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업",포털 서비스 및 온라인 광고,2008-11-28,12월,한성숙,http://www.navercorp.com,경기도
1760,000660,KOSPI,SK하이닉스,반도체 제조업,"반도체,컴퓨터,통신기기 제조,도매",1996-12-26,12월,"박정호, 이석희 (각자대표)",http://www.skhynix.com,경기도
3369,005930,KOSPI,삼성전자,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...",1975-06-11,12월,"김기남, 김현석, 고동진",http://www.sec.co.kr,경기도
6937,005380,KOSPI,현대차,자동차용 엔진 및 자동차 제조업,"자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업",1974-06-28,12월,"정의선, 하언태, 장재훈(각자 대표이사)",http://www.hyundai.com,서울특별시

In [93]:
df = pd.DataFrame()
for i in stocks.itertuples():
    print(i.Symbol)
    df[i.Symbol] = fdr.DataReader(i.Symbol)['Close']
df.dropna()

035420
000660
005930
005380

            035420  000660  005930  005380
Date
2002-10-29    7366    9912    7060   32600
2002-10-30    8245    9029    6760   31250
2002-10-31    7835    9324    6900   30950
2002-11-01    7349    8931    6820   30150
2002-11-04    6981   10207    7350   30000
...            ...     ...     ...     ...
2021-04-12  385500  137500   83200  226000
2021-04-13  388500  139500   84000  230000
2021-04-14  391500  137000   84000  232500
2021-04-15  391000  137500   84100  230500
2021-04-16  391500  137500   83900  231500

[4568 rows x 4 columns]

In [94]:
# 리스크 측정 방법
# 평균값에서 3 표준편차 이내 99.7% 데이터가 존재
# 평균값에서 2 표준편차 이내에 95.4% 데이터가 존재함
# 평균값에서 1 표준편차 이내에 63.3% 데이터가 존재함

In [95]:
daily_ret = df.pct_change()
annual_ret = daily_ret.mean() * 252
daily_cov = daily_ret.cov()
annual_cov = daily_cov * 252

port_ret = list()
port_risk = list()
port_weight = list()

In [96]:
daily_ret

              035420    000660    005930    005380
Date
2002-10-29       NaN       NaN       NaN       NaN
2002-10-30  0.119332 -0.089084 -0.042493 -0.041411
2002-10-31 -0.049727  0.032672  0.020710 -0.009600
2002-11-01 -0.062029 -0.042149 -0.011594 -0.025848
2002-11-04 -0.050075  0.142873  0.077713 -0.004975
...              ...       ...       ...       ...
2021-04-12  0.005215 -0.017857 -0.004785 -0.010941
2021-04-13  0.007782  0.014545  0.009615  0.017699
2021-04-14  0.007722 -0.017921  0.000000  0.010870
2021-04-15 -0.001277  0.003650  0.001190 -0.008602
2021-04-16  0.001279  0.000000 -0.002378  0.004338

[4568 rows x 4 columns]

In [97]:
annual_ret

035420    0.337517
000660    0.271816
005930    0.182080
005380    0.177434
dtype: float64

In [61]:
def get_stocks(stock):
    print(stock, len(stock))
    return stock

df = pd.DataFrame()
# for i in stocks.index:
#     print(i, stocks.get_value(i, 'Symbol'))
#     df[s] = fdr.DataReader(s.Symbol)
#     break
stocks.apply(get_stocks)

1481    035420
1760    000660
3369    005930
6937    005380
Name: Symbol, dtype: object 4
1481    KOSPI
1760    KOSPI
3369    KOSPI
6937    KOSPI
Name: Market, dtype: object 4
1481     NAVER
1760    SK하이닉스
3369      삼성전자
6937       현대차
Name: Name, dtype: object 4
1481    자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업
1760                             반도체 제조업
3369                      통신 및 방송 장비 제조업
6937                   자동차용 엔진 및 자동차 제조업
Name: Sector, dtype: object 4
1481                                      포털 서비스 및 온라인 광고
1760                                   반도체,컴퓨터,통신기기 제조,도매
3369    IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...
6937           자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업
Name: Industry, dtype: object 4
1481   2008-11-28
1760   1996-12-26
3369   1975-06-11
6937   1974-06-28
Name: ListingDate, dtype: datetime64[ns] 4
1481    12월
1760    12월
3369    12월
6937    12월
Name: SettleMonth, dtype: object 4
1481                       한성숙
1760           박정호, 이석희 (각자대표)
3369             김기남, 김현석, 고동진
6937    정의선, 하언태, 장재훈(각자 대표이사)
Name: Representative, dtype: object 4
1481    http://www.navercorp.com
1760      http://www.skhynix.com
3369        http://www.sec.co.kr
6937      http://www.hyundai.com
Name: HomePage, dtype: object 4
1481      경기도
1760      경기도
3369      경기도
6937    서울특별시
Name: Region, dtype: object 4

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1481,035420,KOSPI,NAVER,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업",포털 서비스 및 온라인 광고,2008-11-28,12월,한성숙,http://www.navercorp.com,경기도
1760,000660,KOSPI,SK하이닉스,반도체 제조업,"반도체,컴퓨터,통신기기 제조,도매",1996-12-26,12월,"박정호, 이석희 (각자대표)",http://www.skhynix.com,경기도
3369,005930,KOSPI,삼성전자,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...",1975-06-11,12월,"김기남, 김현석, 고동진",http://www.sec.co.kr,경기도
6937,005380,KOSPI,현대차,자동차용 엔진 및 자동차 제조업,"자동차(승용차,버스,트럭,특장차),자동차부품,자동차전착도료 제조,차량정비사업",1974-06-28,12월,"정의선, 하언태, 장재훈(각자 대표이사)",http://www.hyundai.com,서울특별시

In [57]:
s[1][0]

'035420'

In [14]:
krx[krx['Name'].str.contains(['삼성전자'])]

TypeError: unhashable type: 'list'